<!DOCTYPE html>
<html>
  <head>
    <title>Credits</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Autores de la practica:</h1>
    <img src="https://moodle.upm.es/titulaciones/oficiales/pluginfile.php/786462/user/icon/essential/f1?rev=1" alt="Foto de Jorge">
     <p>Jorge Miguel Perez Utrera</p>
    <img src="https://moodle.upm.es/titulaciones/oficiales/pluginfile.php/843125/user/icon/essential/f1?rev=1" alt="Foto de Marcos">
     <p>Marcos Sanchez Hernandez</p>
  </body>
</html>
