<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>P5_Quiz</h1>
    <a href="credits">Credits</a>
    <a href="quizzes">Quizzes</a>
  </body>
</html>
